@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

body,
button,
input,
select,
textarea {
	font-size: 1em;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

footer img {
	max-height: 2em;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
nav {
    margin-bottom: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
}

/* Header's styles */
header {
	margin-top: 0.2em;
	color: #010B5B;
	text-align: left;
}

/* Footer styles */
footer {
	font-size: 1em;
	text-align: left;
}

footer img {
	max-height: 2em;
}

footer a:link, :visited{
	text-decoration: none;
	color: #808080;
}

footer a:hover{
	text-decoration: underline;
	color: #000000;
}

/* Style for Heading 1 */
h1 {
	font-size: 2em;
	font-weight: bold;
	text-align: left;
	margin: 0;
	border: 0;
	padding: 0;
	text-shadow: 4px 4px 4px #aaa;
}

/* Style for Heading 2*/
h2 {
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	margin: 0;
	border: 0;
	padding: 0 .5em;
}

/* Buckets section */

.buckets {
	padding: 1em 1em 1em;
	background: #3E454C;
}

.buckets ul {
	margin: 0;
	padding: 0;
}

.buckets li {
	margin-bottom: 1em;
	background: white;
	list-style-type: none;
}

.bucket {
	padding: 1.5em;
}

.site {
	margin: 1em;
}

.header-area,
.menu-area,
.sidebar-area
.main-area,
.footer-area {
	padding: 1em;
	color: white;
}

.header-area {
	/*background-color: #b46ae3;*/
	background-color: none;
}

.menu-area {
	background-color: #f49018;
}

.sidebar-area {
	background-color: #dc143c;
}

.main-area {
	background-color: #70bf40;
}

.footer-area {
	background-color: #0265c0;
}