nav {
    margin-bottom: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
}

.menu {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0;
    float: left; 
    width: 100%;
}

.menu li {
    float: left;
    margin-right: 5px;
    position: relative;
}

.menu a, {
    display: block;
    padding: 3px;
    color: #010B5B;
    background-color: none;
    text-decoration: none;
}

.menu a:hover {
    color: #010B5B;
    text-decoration: underline;
}